<form action='/pirates' method"POST"></form>
<h4>Pirate</h4>
<p>Name</p><input type="text" name="pirate[name]">
<p>Weight</p><input type="text" name="pirate[weight]">
<p>Height</p><input type="text" name="pirate[height]">
<h4>Ship</h4>
<p>Name</p><input type="text" name="ship[0][name]">
<p>Type</p><input type="text" name="ship[0][type]">
<p>Booty</p><input type="text" name="ship[0][booty]">
<h4>Ship</h4>
<p>Name</p><input type="text" name="ship[1][name]">
<p>Type</p><input type="text" name="ship[1][type]">
<p>Booty</p><input type="text" name="ship[1][booty]">
<input type="submit" value="Submit">
